.avatar-large {
    cursor: pointer;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;

    width: 40px;
    height: 40px;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;

    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    position: relative;
    background-color: unset;
    background-position: center center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.avatar-large:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.user-name {
    cursor: pointer;
}

.bot-tag {
    background: #7289da;
    font-size: 10px;
    font-weight: 600;
    color: #fff!important;
    margin-left: 6px;
    padding: 1px 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
    line-height: 16px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.hide-overflow {
    overflow: hidden;
}

.message-group {
    display: flex;
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 6px;
    border-bottom: 1px solid #eceeef;
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.message-group .avatar-large {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.message-group h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.message-group h2 strong {
    color: #2e3136;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.message-group .highlight-separator {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 0;
    display: inline-block;
    color: #99aab5;
}

.message-group h2 .timestamp {
    color: #99aab5;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    margin-left: 6px;
}

.message-group .comment {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 20px;
    min-width: 0;
}

.message-group .comment .markup {
    color: #737f8d;
    font-size: 15px;
    line-height: 1.1em;
    margin-top: 6px;
    word-wrap: break-word;
}

.message-group .comment .markup p {
    margin: 0;
}

.embed.embed-rich {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    flex-direction: column;
}

.embed {
    border-left: 5px solid #f3f3f3;
    padding: 4px 10px;
    margin: 4px 0;
    max-width: 600px;
}

.embed .embed-author-icon {
    margin-right: 8px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 22px;
    width: 22px;
    object-fit: contain;
    margin-top: -3px;
    float: left;
}

.embed .embed-author {
    margin-bottom: 5px;
    font-size: 14px;
    color: #2e3136;
    padding-bottom: 10px;
}

.embed .embed-author, .embed .embed-footer, .embed .embed-title {
    display: inline-block;
    font-weight: 600;
}

.embed .embed-author, .embed .embed-provider, .embed .embed-title {
    cursor: pointer;
}

.embed .embed-title {
    margin-bottom: 4px;
    font-size: 14px;
}

.message-group a {
    color: #00b0f4;
    -webkit-transition: 50ms;
    -moz-transition: 50ms;
    -o-transition: 50ms;
    -ms-transition: 50ms;
    transition: 50ms;
    text-decoration: none;
    cursor: pointer;
}

.embed .embed-description.markup {
    margin-top: 0!important;
}

.embed .embed-description {
    display: block;
    color: #36393e;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
}

.embed .embed-fields {
    display: box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #36393e;
    margin-top: -16px;
    margin-bottom: 18px;
}

.embed .embed-fields .embed-field {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding-top: 16px;
    min-width: 100%;
}

.embed .embed-fields .embed-field.embed-field-inline {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
}

.embed .embed-fields .embed-field .embed-field-name {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 600;
}

.embed .embed-fields .embed-field .embed-field-value {
    font-size: 14px;
    font-weight: 500;
}

.embed .embed-thumbnail {
    margin-bottom: 18px;
}

.embed .embed-thumbnail, .embed .embed-thumbnail-gifv {
    position: relative;
    display: inline-block;
}

.embed .embed-thumbnail img {
    margin: 0;
}

.message-group .image {
    vertical-align: bottom;
    max-width: 520px;
}

.embed .image, .embed video {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.message-group .image {
    display: inline-block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.image {
    display: inline-block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.embed .embed-footer-icon {
    margin-right: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 18px;
    width: 18px;
    object-fit: contain;
    margin-top: -1px;
    float: left;
}

.embed .embed-footer {
    margin-bottom: 5px;
    font-size: 12px;
    color: #2e3136;
}

.embed.embed-rich .embed-rich-thumb {
    padding-left: 50px;
    padding-top: 15px;
}

