#items .btn {
    margin-right: 5px;
}
#items .btn:last-of-type {
    margin-right: 0;
}

div#webhook-export pre code.hljs.hljs-line-numbers {
    float: left;
    text-align: right;
}
div#webhook-export pre {
    line-height: 1.1;
}

.controlButtons {
    text-align: right;
}

.controlButtons > div {
    z-index: 100;
    font-weight: 700;
    width: 22px;
}

.embed > .controlButtons, .embed-field > .controlButtons {
    opacity: 0;
    filter:alpha(opacity=0);

    transition: opacity 0.25s ease-in-out 0s, filter 0.25s ease-in-out 0s;
}

.embed:hover > .controlButtons, .embed-field:hover > .controlButtons {
    opacity: 1;
    filter:alpha(opacity=100);
}

.dark input[type="checkbox"]:checked:before, .dark .checkbox input[type="checkbox"]:checked:before, .dark .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dark input[type="checkbox"]:checked:after, .dark .checkbox input[type="checkbox"]:checked:after, .dark .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #2196f3;
    border-color: #2196f3;
}

.dark input[type="checkbox"]:after, .dark .checkbox input[type="checkbox"]:after, .dark .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}